*{

margin: 10px;
padding: 0px;
background-color: inherit;
color: inherit;

}

body{

background-color: #0A1F2C;
color: white;

}

nav{

padding-bottom: 20px;
display: inline-block;
margin-top: 3%;
margin-right: 2%;
width: 70%;

}

#menu{
display: block;
width: 100%;
}


#menu li{
display: inline;
color:  #198A53;
font-size: x-large;
font-family: -apple-system,BlinkMacSystemFont,"Oxygen","Fira Sans","Helvetica Neue",sans-serif;
list-style: none;
background-color: #133A53;


}

#menu li:hover{

    background-color: #737373;
    color: #4BC6B9;
    
}


li{

list-style:inside;
list-style-type: none;
margin-left: 1%;

}

a{

text-decoration: none;

}

#sub{

margin-left: 30px ;

}

#titulo{

text-align: center;
font-size: large;
color: #4BC6B9;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: inline-block;
width: 20%;
margin-left: 2%;

}

#titulo:hover{

color: #198A53;
    
}

section{

margin-top: 40px;

}

#lateral{

width: 15%;
display: inline-block;
position: fixed;

}

#main{

position: relative;
width: 70%;
background-color: #705C70;
font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 50px;
font-size: larger;
margin-right: 0%;
padding-bottom: 10px;


}

#main p{

position: relative;
display:inline-block;
width: 75%;

}

#main li{

    position: relative;
    display:inline-block;
    width: 60%;
    
}

#main h2{

text-align: center;
font-size: xx-large;

}

#imgseccion{
position: absolute;
right: 6px;
width: 30%;

}

#Portada{


position: relative;
left: 25%;

}

#HTML{

    position: absolute;
    right: 0;

}


p{

margin-left: 25px;
padding: 5px;

}

.tabla{

border: black;
border: groove;
text-align: center;

}

td{

    border: black;
    border: groove;

}

aside{

position: absolute;
right: 5px;
top: 300px;
background-color: #3F3F3F;
margin-right: 20px;

}

code{

color: black;
background-color:#F2DDA4;
display: inline-block;

}

#position p{

width: 90%;

}

#position li{

    width: 90%;
    
    }

#box1-relative{

    width: 100px;
    height: 100px;
    position: relative;
    background-color: black;
    top: 20px;
}

#box-container {

    width: 300px;
    height: 300px;
    border: 3px solid black;
    position: relative;
    left: 500px;
}

#box1 {

    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid green;
    top: 0;
    left: 0;
}

#box2 {

    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid white;
    top: 0;
    right: 0;
}

#box3 {

    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid red;
    bottom: 0;
    left: 0;
}

#box4 {

    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid yellow;
    bottom: 0;
    right: 0;
}

#box5 {

    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid brown;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#sticky {

    background-color:#F2DDA4;
    width: 50px;
    height: 50px;
    position: sticky;
    bottom: 65px;
}
#zbox1 {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: red;
    z-index: 30;
}

#zbox2 {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: white;
    top: -38px;
    left: 38px;
    z-index: 20;
}

#zbox3 {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: yellow;
    top: -75px;
    left: 75px;
    z-index: 10;
}

#padre {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: blue;
}

#hijo {
    position: relative;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: red;
    left: 38px;
    z-index: -1;
}

.ejemplo{

margin-left: 40px;
padding-top: 6px;
padding-bottom: 6px;

}

.ejemeploMenu li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.ejemeploMenu li a:hover {
    background-color:#434343;
}

.ejemeploMenu li ul {
    display:none;
    position:relative;
    min-width:140px;
}

.ejemeploMenu li:hover > ul {
    display:block;
}

.ejemeploMenu li ul li {
    position:relative;
}

.ejemeploMenu li ul li ul {
    right:-140px;
    top:0px;
}

#graficobarras{

position: relative;

}
#ejemplotabla{

border: none;
position: relative;

}
#ejemplotabla{

border: none;
position: relative;
left: 0;
display: inline-block;
width: 40%;
}
#ejemplotabla td{
border: none;

}

#ejemplopre{
font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;;
border: none;
position: relative;
left: 0;
display: inline-block;
width: 40%;

}
.negrita{
font-weight: bold;

}

.listaEjemplos{
margin-left: 35px;
margin-top: 0;

}
.listaEjemplos li{
margin-left: 35px;
margin-top: 0;
    
}
.ejemploCSS{
font-size:x-large; /* o font-size: 7em*/
}

.ejemploCSS a:hover{

color: #198A53;
}
.ejemploCSS img{
    margin: 6em;
}


footer{
padding-top: 15px;
width: 90%;
height: 30px;
margin: 0;
position: relative;
bottom: 1%;

}

#pie{

background-color: #F2DDA4;
color: #282828;
margin: 0;
border-radius: 15px; /* Se puede utilizar el prefijo -webkit- o -moz- en para compatibilidad*/

}

